<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block titleblock %}StudentSpend{% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<main>
    {% if messages %}
        <script>
            for (const message of messages) {
                alert("{{ message|escapejs }}");
            }
        </script>
    {% endif %}

    {% block content %}
    {% endblock %}
</main>

{% block nav_block %}
<body>
<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'rango:dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'rango:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'rango:login' %}">Login</a></li>
                <li><a href="{% url 'rango:registration' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
{% endblock %}

{% if user.is_authenticated %}
{% block money_block %}
    <p>
        Money: £{{ user.userprofile.money }} </br>
        Want to add money?</br>
        <a href="{% url 'rango:add_money' %}">Add Money</a></br>
        Added too much money?</br>
        <a href="{% url 'rango:remove_money' %}">Remove Money</a></br>
    </p>

{% endblock %}
{% endif %}

<footer>
    <p>&copy; {{ year|default:2026 }} StudentSpend</p>
</footer>
</body>
</html>