{% extends "rango/base.html" %}

{% block titleblock %}Register{% endblock %}

{% block nav_block %}{% endblock %}

{% block content %}
{% if registered %}
You're already register. Please log in.
<a href="{% url 'rango:login' %}">Return to the homepage.</a><br />
{% else %}
<h1>Create an account</h1>

<form id="user_form" method="post" action="{% url 'rango:registration' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <input type="submit" value="Register">
</form>

<p>
    Already have an account?
    <a href="{% url 'rango:login' %}">Log in</a>
</p>
{% endif %}
{% endblock %}