<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block titleblock %}StudentSpend{% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
<main>
    {% if messages %}
        {% for message in messages %}
            <div data-message="{{message}}"></div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</main>

{% block nav_block %}
<header>
    <nav class="navbar">
        <div class="logo">StudentSpend</div>

        <ul class="nav-links">
            {% if request.path != "/" %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'student_spend:dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'student_spend:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'student_spend:login' %}">Login</a></li>
                <li><a href="{% url 'student_spend:registration' %}">Register</a></li>
        {% endif %}
    {% endif %}
</ul>
        </ul>
    </nav>
</header>
{% endblock %}

{% if user.is_authenticated %}
{% block money_block %}
    <p>
        Money: £{{ user.userprofile.money }} </br>
        Want to add money?</br>
        <a href="{% url 'student_spend:add_money' %}">Add Money</a></br>
        Added too much money?</br>
        <a href="{% url 'student_spend:remove_money' %}">Remove Money</a></br>
    </p>

{% endblock %}
{% endif %}

<footer>
    <p>&copy; {{ year|default:2026 }} StudentSpend</p>
</footer>
<script src="{% static 'js/base.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>